.container {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .formDiv {
    width: 800px;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 8px 15px 0px rgba(26, 46, 221, 0);
    -moz-box-shadow: -1px 8px 15px 0px rgba(26, 46, 221, 0);
    box-shadow: -1px 8px 15px 0px rgba(26, 46, 221, 0);
  }
  
  .alert {
    text-align: center;
    margin-top: 20px;
  }
  
  .creditCard{
      margin-bottom: 10%;
  }